body{
    font-family: bold;
    background-color:#114d94;
    margin:20px;
}
.card{
    background:#1c5fb287;
    width:500px;
    margin:20px auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 8px rgba(0,0,0,0.2);
}
h2{
    color:#ffffff;
}
input{
    width:95%;
    padding:6px;
    margin:10px 0;
    border:1px solid #2b6cb0;
    border-radius:5px;
}
button{
    background:#347bc7;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:6px;
    cursor:pointer;
    transition:0.1s;
}
button:hover{
    background:#2462a9;
}
ul{
    margin-top:15px;
    padding-left:20px;
}
li{
    background:white;
    color:#1a4a80;
    margin:8px 0;
    padding:8px;
    border-left:5px solid #2b6cb0;
    border-radius:5px;
}
p{
    font-weight:bold;
    color:#1a4a80;
}





